.fulmini{
    background-image: url('../assets/fulmini.svg');
}
.pioggerella{
    background-image: url('../assets/pioggia.svg');
}
.pioggia{
    background-image: url('../assets/pioggia.svg');
}
.neve{
    background-image: url('../assets/neve.svg');
}
.nebbia{
    background-image: url('../assets/nebbia.svg');
}
.sole{
    background-image: url('../assets/sole.svg');
}
.coperto{
    background-image: url('../assets/coperto.svg');
}
.nuvoloso{
    background-image: url('../assets/nuvoloso.svg');
}
.precipitazioni{
    background-image: url('../assets/coperto.svg');
}

.card{
    background: #00000000 !important;
    border: none !important;
    flex: auto !important;
}
.card-footer {
    background-color: rgba(0, 0, 0, 0) !important; 
     border-top: none !important;
}

.icon-tempo{
    height: 4em;
    width: 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: auto;
    margin-left: auto;
}

.big-icon{
    height: 7em;
    width: 7em;
}
    
.bgblur{
    background-image: url('../assets/bgblur.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 2rem;
}
.justified{
    justify-content: space-around !important;
}
hr{
    background-color: rgba(256,256,256,0.4);
}

.hover-reaction{
    border: 2px solid rgba(256,256,256,0.4);
    background-color: rgba(256,256,256,0.2);
    border-radius: 5px;
    margin: -2px;
}